@use '../variables' as *;

.navigation__item {
  font-family: 'TT Lakes Medium';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: $grey;
  vertical-align: middle;
  text-wrap: nowrap;
  background: inherit;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 8px 16px;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: white;
    border-color: $mint;
  }
}
