@use '../variables' as *;

.title {
  width: 100%;
  padding: 16px;
  background: linear-gradient(45deg, $background, white);
  border-top: 1px solid $light-mint;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: $grey;
}
