$marble: #eaeaea;
$alabaster: rgb(248, 248, 248);
$pink: #ff3e79;
$silver: #b5b6bc;
$grey: #7e7e82;
$mint: #b8ffec;
$light-mint: #d9fff5;
$background: #f8f8f8;
$text: #1b1c21;
$overlay: rgba(255, 255, 255, 0.6);
$shadow: rgba(14, 24, 80, 0.2);
