@use '../variables' as *;
.button-square {
  position: relative;
  width: 240px;
  height: 160px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  background: white;
  border: 1px solid $marble;
  border-radius: 6px;

  
  &__go {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 40px;
    height: 40px;
    background: url('../img/go.svg') no-repeat center;
  }

  &__text {
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
  }
}
