@use '../variables' as *;

.main {
  width: 100vw;
  min-width: 320px;
  background-color: $background;
  padding-top: 25px;
  padding-bottom: 35px;
  z-index: 1;
  overflow-x: hidden;

  &__header-wrap {
    display: flex;
    color: $text;
    padding-bottom: 24px;
  }

  &__header {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-left: 16px;
  }

  &__header::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 40px;
    background: url(../img/highlight.svg) no-repeat center;
    margin-right: 12px;
    vertical-align: middle;
    left: 0;
    position: absolute;
  }
  &__table-price {
    margin: 0 24px 24px 24px;
    padding: 0;
    box-sizing: border-box;
  }
}
