.offer {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  max-width: 480px;

  &__text {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 17px;
  }
  &__button {
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      height: 24px;
      width: 24px;
      background: url(../img/mini-next.svg) no-repeat center;
      vertical-align: bottom;
    }
  }
}
