@use '../variables' as *;

.after-effect-container {
  width: 100%;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(to right, $alabaster, transparent);
    background: -webkit-linear-gradient(to right, $alabaster, transparent);
    background: -moz-linear-gradient(to right, $alabaster, transparent);
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 100%;
    right: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(to left, $alabaster, transparent);
    background: -webkit-linear-gradient(to left, $alabaster, transparent);
    background: -moz-linear-gradient(to left, $alabaster, transparent);
    z-index: 2;
  }
}
