@use '../variables' as *;

.communication-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background: white;
  box-shadow: none;
  z-index: 1002;
  transform: translateX(100%);
  transition: transform 0.35s ease;
  padding: 0 16px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__close {
    padding: 24px 0 0;
  }

  &__main {
    padding-top: 32px;
  }

  &__title {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__title::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 40px;
    background: url(../img/highlight.svg) no-repeat center;
  }

  &__input {
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $silver;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid $marble;
    font-size: 16px;
  }

  &__input--message {
    resize: none;
    height: 120px;
  }
  &__info {
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    line-height: 20px;
    color: $grey;
  }

  &__info--pink {
    color: $pink;
  }
}
