.menu-footer {
  margin-top: auto;

  &__list {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    padding-top:16px;
    
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__email {
    margin-bottom: 12px;
  }

  &__number {
    font-family: 'TT Lakes';
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-bottom: 40px;
  }
}
